# Ignore the .xlsx file with books link -> Only need .csv file
*.xlsx

# Ignore all __pycache__ directories that may be created in execution
__pycache__

# Ignore downloads_test directory -> This directory only has testing purposes